#############################################
# General environment variables
#############################################
TZ=UTC
APP_NAME=hub-sheetflow


#############################################
# FastAPI environment variables
#############################################
API_VERSION=/api/v1
BACKEND_CORS_ORIGINS=["*"]
DEBUG=true
API_PORT=8080
API_DEBUG_PORT=8021
API_BASE_URL=http://host.docker.internal:8020
INSTALL_DEV=true
APP_NAME_FOR_CALLBACKS=hub-barber-shop-system-backend

# Conexão ao banco de dados
SQLALCHEMY_DATABASE_URI='postgresql://postgres:postgres@localhost:5477/barbersystem'



#############################################
# AWS S3 (Upload de imagens)
#############################################
AWS_REGION=us-east-2
AWS_S3_BUCKET_NAME=algo-tech-barber
AWS_S3_PUBLIC_BASE_URL=https://algo-tech-barber.s3.us-east-2.amazonaws.com
AWS_S3_ENDPOINT_URL=
AWS_S3_PUBLIC_READ=false

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

S3_UPLOAD_MAX_SIZE_MB=5
S3_ALLOWED_IMAGE_CONTENT_TYPES=image/jpeg,image/png,image/webp