#############################################
# General environment variables
#############################################
TZ=UTC
APP_NAME=


#############################################
# FastAPI environment variables
#############################################
API_VERSION=
BACKEND_CORS_ORIGINS=
DEBUG=
API_PORT=
API_DEBUG_PORT=
API_BASE_URL=
INSTALL_DEV=
APP_NAME_FOR_CALLBACKS=

# Conexão ao banco de dados
SQLALCHEMY_DATABASE_URI=



#############################################
# AWS S3 (Upload de imagens)
#############################################
AWS_REGION=
AWS_S3_BUCKET_NAME=
AWS_S3_PUBLIC_BASE_URL=
AWS_S3_ENDPOINT_URL=
AWS_S3_PUBLIC_READ=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

S3_UPLOAD_MAX_SIZE_MB=5
S3_ALLOWED_IMAGE_CONTENT_TYPES=image/jpeg,image/png,image/webp